.custom-navbar {
    background-color: #183d5d;
    height: 10vh;
    border: solid 1px;
    border-radius: 3px;
}
.home{
    font-size: 30px;
}
.nav-container{
    width: 2000px;
    display: flex;
    margin: 0;
    justify-content: space-between;
}
.nav-link{
    font-size: 25px;
    color: #85a0c9;
}

.session-buttons{
    display: flex;
    justify-content: end;
}

.btn{
    font-size: 15px;
    color: #85a0c9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20em ;
}
.buttons-logged{
    display: flex;
}
.movement-span{
    font-size: 20px;
    margin-right: 20px;
}
.profile-span{
    font-size: 20px;
    width: 100px;
}
.span{
    font-size: 20px;
}
